// Use https://www.sassmeister.com/ with Autoprefixer for compile

//colors
$black_25: rgba(0,0,0,.25);
$color_alabaster_approx: #fcfcfc;
$periwinkle: #ccf;
$black_15: rgba(0,0,0,.15);

// Logic
.avatar-view {
    cursor: pointer;
}
.avatar-body {
    padding-right: 15px;
    padding-left: 15px;
    .progress {
        display: none;
        margin-bottom: 1rem;
    }
    .alert {
        display: none;
    }
}
.avatar-upload {
    overflow: hidden;
}
.avatar-alert {
    margin-top: 10px;
    margin-bottom: 10px;
}
.avatar-wrapper {
    height: 364px;
    width: 100%;
    margin-top: 15px;
    box-shadow: inset 0 0 5px $black_25;
    background-color: $color_alabaster_approx;
    overflow: hidden;
    img {
        display: block;
        height: auto;
        max-width: 100%;
    }
}
.avatar-preview {
    margin-top: 15px;
    width: 170px;
    height: 170px;
    overflow: hidden;
    &:hover {
        border-color: $periwinkle;
        box-shadow: 0 0 5px $black_15;
    }
}
.preview-lg {
    width: 184px;
    margin-top: 15px;
}

@media(max-width: 767px) {
    .avatar-preview {
        display: none;
    }
}

@media(max-width: 991px) {
    .avatar-preview {
        width: 95px;
        height: 95px;
    }
}
